body{
    background-color: lightseagreen;
    font-family: "Oswald", "Poppins", Garamond, sans-serif, Arial;
    /*margin-top: 100px;*/
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    }
.headterms{
    color: aliceblue;
text-align: center;
font-weight: bolder;
font-size: 120px;
font-family: "Oswald", "Poppins", Garamond, sans-serif, Arial;
}
.explainterms{
    color: rgb(199, 192, 192);
    font-size: 45px;
    text-align: center;
    font-family: "Oswald", "Poppins", Garamond, sans-serif, Arial;
}
.terms{
    text-align: left;
    font-size: 25px;
    text-align: center;
}